
<!doctype html>
<html lang="en-IE">
<head>
    <meta charset="utf-8" />
    <title>Share Labs: regional interconnections</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Anaheim" rel="stylesheet">
    <link href="static/css/normalize.min.css" rel="stylesheet" media="all" />
    <!--[if lt IE 9]><link href="static/css/normalize-legacy.min.css" rel="stylesheet" media="all" /><![endif]-->
    <link href="static/css/html5bones.css" rel="stylesheet" media="screen" />
    <!--[if lt IE 9]>
        <script src="static/js/html5shiv-printshiv.js" media="all"></script>
        <script src="static/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <main class="wrap" role="main">
        <h1><a href="http://www.shareconference.net">Share Labs</a></h1>
        <h2>Regional interconnections</h2>

        <section>
            <h3>Short introduction</h3>
            <ul>
                <li>
                    This is a helper API endpoint for Share Foundation project to map regional interconnectedness.
                </li>

                <li>
                    Once the research is finished, this page will be updated to direct you to the results.
                </li>
            </ul>
        </section>

    </main>

    <footer>
        <p>This API is built and maintained by <a href="http://kotnikdvbq6lnbfz.onion">Nikola Kotur</a>.</p>
        <p>For questions, suggestions etc. mail: <a href="mailto:info@shareconference.net">Share Foundation</a>.</p>
        <p>See also <a href="http://www.shareconference.net">Share</a> site for other <abbr title="YMMV">cool</abbr> stuff we do.</p>
    </footer>

</body>
</html>
